In [1]:
#Importando a biblioteca para leitura do conteúdo do 
import os 

#criando uma variável para armazenar a localização dos arquivos
caminho_arquivos = 'C://fontes_dados//relatorios'

lista_nomes = [] #Lista para armazenar o nome dos arquivos

#para cada arquivo listado, armazenar dentro da variável x
for x in os.listdir(caminho_arquivos): 
    lista_nomes.append(x)
    print(x)

01-2022.docx
02-2022.docx
03-2022.docx
04-2022.docx
05-2022.docx
06-2022.docx
07-2022.docx
08-2022.docx
09-2022.docx
10-2022.docx
11-2022.docx
12-2022.docx

In [2]:
print(lista_nomes)

['01-2022.docx', '02-2022.docx', '03-2022.docx', '04-2022.docx', '05-2022.docx', '06-2022.docx']

In [2]:
#Instalando a biblioteca docx2python para trabalhar com docx
!pip install docx2python

Requirement already satisfied: docx2python in c:\users\mauro.ferreira\anaconda3\lib\site-packages (2.0.4)
Requirement already satisfied: lxml in c:\users\mauro.ferreira\anaconda3\lib\site-packages (from docx2python) (4.6.3)

In [89]:
from docx2python import docx2python

teste_conteudo = docx2python(caminho_arquivos + '//01-2022.docx')
print(teste_conteudo)

DocxContent(docx_reader=DocxReader(), docx2python_kwargs={'docx_filename': 'C://fontes_dados//relatorios//01-2022.docx', 'image_folder': None, 'html': False, 'paragraph_styles': False, 'extract_image': None, 'docx_context': DocxReader()})

In [90]:
type(teste_conteudo)

docx2python.docx_output.DocxContent

In [91]:
teste_conteudo.body

[[[['Relatório',
    'O vídeo fornece uma maneira poderosa de ajudá-lo a provar seu argumento. Ao clicar em Vídeo Online, você pode colar o código de inserção do vídeo que deseja adicionar. Você também pode digitar uma palavra-chave para pesquisar online o vídeo mais adequado ao seu documento.',
    'Para dar ao documento uma aparência profissional, o Word fornece designs de cabeçalho, rodapé, folha de rosto e caixa de texto que se complementam entre si. Por exemplo, você pode adicionar uma folha de rosto, um cabeçalho e uma barra lateral correspondentes. Clique em Inserir e escolha os elementos desejados nas diferentes galerias.',
    'Temas e estilos também ajudam a manter seu documento coordenado. Quando você clica em Design e escolhe um novo tema, as imagens, gráficos e elementos gráficos SmartArt são alterados para corresponder ao novo tema. Quando você aplica estilos, os títulos são alterados para coincidir com o novo tema.',
    'Economize tempo no Word com novos botões que são mostrados no local em que você precisa deles. Para alterar a maneira como uma imagem se ajusta ao seu documento, clique nela e um botão de opções de layout será exibido ao lado. Ao trabalhar em uma tabela, clique no local onde deseja adicionar uma linha ou uma coluna e clique no sinal de adição.',
    'A leitura também é mais fácil no novo modo de exibição de Leitura. Você pode recolher partes do documento e colocar o foco no texto desejado. Se for preciso interromper a leitura antes de chegar ao fim dela, o Word lembrará em que ponto você parou - até mesmo em outro dispositivo.',
    '']]],
 [[['Movimento diário - abril/2022']],
  [['Dia avaliado'], ['Filial 1'], ['Filial 2'], ['Filial 3'], ['Matriz']],
  [['01/04/2022'],
   ['169.693,00'],
   ['121.672,00'],
   ['214.457,00'],
   ['233.995,00']],
  [['02/04/2022'],
   ['145.960,00'],
   ['218.920,00'],
   ['149.545,00'],
   ['237.609,00']],
  [['03/04/2022'],
   ['212.845,00'],
   ['54.979,00'],
   ['241.022,00'],
   ['288.005,00']],
  [['04/04/2022'],
   ['199.917,00'],
   ['64.463,00'],
   ['77.781,00'],
   ['224.188,00']],
  [['05/04/2022'],
   ['101.599,00'],
   ['129.713,00'],
   ['108.666,00'],
   ['287.151,00']],
  [['06/04/2022'],
   ['114.935,00'],
   ['239.422,00'],
   ['153.130,00'],
   ['275.859,00']],
  [['07/04/2022'],
   ['131.540,00'],
   ['120.544,00'],
   ['42.262,00'],
   ['209.340,00']],
  [['08/04/2022'],
   ['171.607,00'],
   ['37.950,00'],
   ['144.140,00'],
   ['275.412,00']],
  [['09/04/2022'],
   ['56.281,00'],
   ['148.200,00'],
   ['208.860,00'],
   ['296.703,00']],
  [['10/04/2022'],
   ['193.413,00'],
   ['159.224,00'],
   ['193.624,00'],
   ['233.641,00']],
  [['11/04/2022'],
   ['105.921,00'],
   ['246.146,00'],
   ['213.383,00'],
   ['205.882,00']],
  [['12/04/2022'],
   ['219.970,00'],
   ['236.778,00'],
   ['206.945,00'],
   ['294.628,00']],
  [['13/04/2022'],
   ['49.367,00'],
   ['87.456,00'],
   ['53.839,00'],
   ['213.994,00']],
  [['14/04/2022'],
   ['146.356,00'],
   ['118.979,00'],
   ['197.209,00'],
   ['268.423,00']],
  [['15/04/2022'],
   ['173.566,00'],
   ['52.134,00'],
   ['244.001,00'],
   ['246.680,00']],
  [['16/04/2022'],
   ['233.387,00'],
   ['177.407,00'],
   ['156.735,00'],
   ['171.849,00']],
  [['17/04/2022'],
   ['138.413,00'],
   ['228.138,00'],
   ['183.968,00'],
   ['160.630,00']],
  [['18/04/2022'],
   ['191.884,00'],
   ['179.110,00'],
   ['43.469,00'],
   ['177.005,00']],
  [['19/04/2022'],
   ['52.744,00'],
   ['143.495,00'],
   ['105.430,00'],
   ['167.401,00']],
  [['20/04/2022'],
   ['152.620,00'],
   ['224.768,00'],
   ['184.991,00'],
   ['187.549,00']],
  [['21/04/2022'],
   ['115.819,00'],
   ['154.843,00'],
   ['132.991,00'],
   ['262.413,00']],
  [['22/04/2022'],
   ['75.770,00'],
   ['156.506,00'],
   ['71.490,00'],
   ['213.018,00']],
  [['23/04/2022'],
   ['37.272,00'],
   ['243.939,00'],
   ['50.375,00'],
   ['227.831,00']],
  [['24/04/2022'],
   ['36.968,00'],
   ['180.149,00'],
   ['93.241,00'],
   ['290.173,00']],
  [['25/04/2022'],
   ['206.157,00'],
   ['189.742,00'],
   ['182.760,00'],
   ['237.722,00']],
  [['26/04/2022'],
   ['34.534,00'],
   ['211.437,00'],
   ['173.741,00'],
   ['266.804,00']],
  [['27/04/2022'],
   ['248.860,00'],
   ['232.169,00'],
   ['186.747,00'],
   ['238.012,00']],
  [['28/04/2022'],
   ['98.369,00'],
   ['95.995,00'],
   ['153.508,00'],
   ['178.957,00']],
  [['29/04/2022'],
   ['70.878,00'],
   ['219.037,00'],
   ['105.379,00'],
   ['273.626,00']],
  [['30/04/2022'],
   ['217.498,00'],
   ['147.519,00'],
   ['70.035,00'],
   ['289.890,00']]],
 [[['']]]]

In [92]:
type(teste_conteudo.body)

list

In [96]:
teste_conteudo.body[1]

[[['Movimento diário - abril/2022']],
 [['Dia avaliado'], ['Filial 1'], ['Filial 2'], ['Filial 3'], ['Matriz']],
 [['01/04/2022'],
  ['169.693,00'],
  ['121.672,00'],
  ['214.457,00'],
  ['233.995,00']],
 [['02/04/2022'],
  ['145.960,00'],
  ['218.920,00'],
  ['149.545,00'],
  ['237.609,00']],
 [['03/04/2022'],
  ['212.845,00'],
  ['54.979,00'],
  ['241.022,00'],
  ['288.005,00']],
 [['04/04/2022'],
  ['199.917,00'],
  ['64.463,00'],
  ['77.781,00'],
  ['224.188,00']],
 [['05/04/2022'],
  ['101.599,00'],
  ['129.713,00'],
  ['108.666,00'],
  ['287.151,00']],
 [['06/04/2022'],
  ['114.935,00'],
  ['239.422,00'],
  ['153.130,00'],
  ['275.859,00']],
 [['07/04/2022'],
  ['131.540,00'],
  ['120.544,00'],
  ['42.262,00'],
  ['209.340,00']],
 [['08/04/2022'],
  ['171.607,00'],
  ['37.950,00'],
  ['144.140,00'],
  ['275.412,00']],
 [['09/04/2022'],
  ['56.281,00'],
  ['148.200,00'],
  ['208.860,00'],
  ['296.703,00']],
 [['10/04/2022'],
  ['193.413,00'],
  ['159.224,00'],
  ['193.624,00'],
  ['233.641,00']],
 [['11/04/2022'],
  ['105.921,00'],
  ['246.146,00'],
  ['213.383,00'],
  ['205.882,00']],
 [['12/04/2022'],
  ['219.970,00'],
  ['236.778,00'],
  ['206.945,00'],
  ['294.628,00']],
 [['13/04/2022'], ['49.367,00'], ['87.456,00'], ['53.839,00'], ['213.994,00']],
 [['14/04/2022'],
  ['146.356,00'],
  ['118.979,00'],
  ['197.209,00'],
  ['268.423,00']],
 [['15/04/2022'],
  ['173.566,00'],
  ['52.134,00'],
  ['244.001,00'],
  ['246.680,00']],
 [['16/04/2022'],
  ['233.387,00'],
  ['177.407,00'],
  ['156.735,00'],
  ['171.849,00']],
 [['17/04/2022'],
  ['138.413,00'],
  ['228.138,00'],
  ['183.968,00'],
  ['160.630,00']],
 [['18/04/2022'],
  ['191.884,00'],
  ['179.110,00'],
  ['43.469,00'],
  ['177.005,00']],
 [['19/04/2022'],
  ['52.744,00'],
  ['143.495,00'],
  ['105.430,00'],
  ['167.401,00']],
 [['20/04/2022'],
  ['152.620,00'],
  ['224.768,00'],
  ['184.991,00'],
  ['187.549,00']],
 [['21/04/2022'],
  ['115.819,00'],
  ['154.843,00'],
  ['132.991,00'],
  ['262.413,00']],
 [['22/04/2022'],
  ['75.770,00'],
  ['156.506,00'],
  ['71.490,00'],
  ['213.018,00']],
 [['23/04/2022'],
  ['37.272,00'],
  ['243.939,00'],
  ['50.375,00'],
  ['227.831,00']],
 [['24/04/2022'],
  ['36.968,00'],
  ['180.149,00'],
  ['93.241,00'],
  ['290.173,00']],
 [['25/04/2022'],
  ['206.157,00'],
  ['189.742,00'],
  ['182.760,00'],
  ['237.722,00']],
 [['26/04/2022'],
  ['34.534,00'],
  ['211.437,00'],
  ['173.741,00'],
  ['266.804,00']],
 [['27/04/2022'],
  ['248.860,00'],
  ['232.169,00'],
  ['186.747,00'],
  ['238.012,00']],
 [['28/04/2022'],
  ['98.369,00'],
  ['95.995,00'],
  ['153.508,00'],
  ['178.957,00']],
 [['29/04/2022'],
  ['70.878,00'],
  ['219.037,00'],
  ['105.379,00'],
  ['273.626,00']],
 [['30/04/2022'],
  ['217.498,00'],
  ['147.519,00'],
  ['70.035,00'],
  ['289.890,00']]]

In [100]:
teste_conteudo.body[1][1]

[['Dia avaliado'], ['Filial 1'], ['Filial 2'], ['Filial 3'], ['Matriz']]

In [6]:
#Importando a função docx2python para abrir arquivos DOCX
from docx2python import docx2python

lista_tabelas = [] #Lista para armazenar o conteúdo recuperado

#Para cada arquivo lido armazenar apenas a tabela após a segunda linha na lista criada
for y in lista_nomes:
    conteudos = docx2python(caminho_arquivos + '//' + y)
    lista_tabelas += conteudos.body[1][2:]

lista_tabelas

[[['03/01/2022'],
  ['196.150,00'],
  ['152.743,00'],
  ['106.701,00'],
  ['273.274,00']],
 [['04/01/2022'],
  ['162.775,00'],
  ['63.936,00'],
  ['188.655,00'],
  ['204.490,00']],
 [['05/01/2022'],
  ['133.267,00'],
  ['241.641,00'],
  ['112.572,00'],
  ['181.911,00']],
 [['06/01/2022'],
  ['98.888,00'],
  ['129.118,00'],
  ['190.375,00'],
  ['217.586,00']],
 [['07/01/2022'],
  ['183.817,00'],
  ['139.893,00'],
  ['180.754,00'],
  ['262.625,00']],
 [['10/01/2022'],
  ['201.645,00'],
  ['162.746,00'],
  ['41.574,00'],
  ['291.620,00']],
 [['11/01/2022'],
  ['123.097,00'],
  ['219.266,00'],
  ['126.593,00'],
  ['221.231,00']],
 [['12/01/2022'],
  ['203.197,00'],
  ['119.015,00'],
  ['66.244,00'],
  ['253.598,00']],
 [['13/01/2022'],
  ['61.936,00'],
  ['69.599,00'],
  ['154.199,00'],
  ['171.289,00']],
 [['14/01/2022'],
  ['169.760,00'],
  ['189.089,00'],
  ['210.702,00'],
  ['226.513,00']],
 [['17/01/2022'],
  ['104.077,00'],
  ['41.466,00'],
  ['48.790,00'],
  ['153.831,00']],
 [['18/01/2022'],
  ['106.765,00'],
  ['182.403,00'],
  ['120.083,00'],
  ['282.075,00']],
 [['19/01/2022'],
  ['79.793,00'],
  ['108.883,00'],
  ['192.911,00'],
  ['180.863,00']],
 [['20/01/2022'],
  ['205.469,00'],
  ['220.878,00'],
  ['132.001,00'],
  ['209.158,00']],
 [['21/01/2022'],
  ['196.347,00'],
  ['206.112,00'],
  ['183.106,00'],
  ['158.576,00']],
 [['24/01/2022'],
  ['128.038,00'],
  ['162.504,00'],
  ['159.845,00'],
  ['209.915,00']],
 [['25/01/2022'], ['50.823,00'], ['98.769,00'], ['79.149,00'], ['279.278,00']],
 [['26/01/2022'],
  ['194.079,00'],
  ['192.422,00'],
  ['158.750,00'],
  ['278.604,00']],
 [['27/01/2022'],
  ['231.064,00'],
  ['177.352,00'],
  ['242.238,00'],
  ['286.504,00']],
 [['28/01/2022'],
  ['166.437,00'],
  ['44.023,00'],
  ['104.607,00'],
  ['182.365,00']],
 [['31/01/2022'],
  ['38.973,00'],
  ['149.882,00'],
  ['179.094,00'],
  ['258.253,00']],
 [['01/02/2022'],
  ['110.013,00'],
  ['202.349,00'],
  ['147.689,00'],
  ['240.376,00']],
 [['02/02/2022'],
  ['203.328,00'],
  ['226.994,00'],
  ['211.240,00'],
  ['281.584,00']],
 [['03/02/2022'],
  ['243.180,00'],
  ['193.627,00'],
  ['79.241,00'],
  ['279.518,00']],
 [['04/02/2022'],
  ['234.764,00'],
  ['177.096,00'],
  ['243.353,00'],
  ['198.025,00']],
 [['07/02/2022'],
  ['90.471,00'],
  ['63.775,00'],
  ['130.755,00'],
  ['225.924,00']],
 [['08/02/2022'],
  ['121.638,00'],
  ['95.187,00'],
  ['174.409,00'],
  ['165.185,00']],
 [['09/02/2022'],
  ['243.172,00'],
  ['192.758,00'],
  ['129.666,00'],
  ['206.483,00']],
 [['10/02/2022'], ['64.591,00'], ['31.832,00'], ['60.971,00'], ['194.863,00']],
 [['11/02/2022'],
  ['200.416,00'],
  ['152.470,00'],
  ['53.212,00'],
  ['214.777,00']],
 [['14/02/2022'],
  ['161.679,00'],
  ['168.572,00'],
  ['75.263,00'],
  ['164.394,00']],
 [['15/02/2022'],
  ['244.754,00'],
  ['69.107,00'],
  ['219.073,00'],
  ['274.482,00']],
 [['16/02/2022'],
  ['188.365,00'],
  ['65.708,00'],
  ['95.394,00'],
  ['173.703,00']],
 [['17/02/2022'],
  ['196.290,00'],
  ['165.443,00'],
  ['220.910,00'],
  ['288.878,00']],
 [['18/02/2022'],
  ['179.836,00'],
  ['174.240,00'],
  ['191.902,00'],
  ['246.967,00']],
 [['21/02/2022'],
  ['184.986,00'],
  ['41.897,00'],
  ['233.072,00'],
  ['204.007,00']],
 [['22/02/2022'],
  ['80.553,00'],
  ['87.346,00'],
  ['212.259,00'],
  ['227.991,00']],
 [['23/02/2022'],
  ['80.313,00'],
  ['232.955,00'],
  ['84.378,00'],
  ['157.756,00']],
 [['24/02/2022'],
  ['122.788,00'],
  ['156.941,00'],
  ['216.742,00'],
  ['263.431,00']],
 [['25/02/2022'],
  ['58.976,00'],
  ['48.437,00'],
  ['133.127,00'],
  ['180.149,00']],
 [['28/02/2022'],
  ['196.007,00'],
  ['161.016,00'],
  ['91.570,00'],
  ['273.852,00']],
 [['01/03/2022'],
  ['129.178,00'],
  ['150.560,00'],
  ['185.292,00'],
  ['193.404,00']],
 [['02/03/2022'],
  ['151.048,00'],
  ['248.885,00'],
  ['38.355,00'],
  ['253.623,00']],
 [['03/03/2022'],
  ['158.708,00'],
  ['210.846,00'],
  ['31.795,00'],
  ['164.896,00']],
 [['04/03/2022'],
  ['97.540,00'],
  ['222.098,00'],
  ['30.225,00'],
  ['246.005,00']],
 [['07/03/2022'],
  ['170.814,00'],
  ['148.670,00'],
  ['134.483,00'],
  ['213.704,00']],
 [['08/03/2022'],
  ['223.795,00'],
  ['56.178,00'],
  ['55.850,00'],
  ['232.592,00']],
 [['09/03/2022'],
  ['40.585,00'],
  ['174.765,00'],
  ['198.463,00'],
  ['220.721,00']],
 [['10/03/2022'],
  ['102.506,00'],
  ['51.592,00'],
  ['196.954,00'],
  ['284.184,00']],
 [['11/03/2022'],
  ['154.409,00'],
  ['156.080,00'],
  ['50.728,00'],
  ['172.082,00']],
 [['14/03/2022'],
  ['220.538,00'],
  ['53.532,00'],
  ['170.957,00'],
  ['238.200,00']],
 [['15/03/2022'],
  ['203.698,00'],
  ['198.780,00'],
  ['131.707,00'],
  ['271.244,00']],
 [['16/03/2022'],
  ['233.413,00'],
  ['48.589,00'],
  ['129.555,00'],
  ['216.271,00']],
 [['17/03/2022'],
  ['203.511,00'],
  ['179.858,00'],
  ['84.478,00'],
  ['152.571,00']],
 [['18/03/2022'],
  ['244.005,00'],
  ['124.823,00'],
  ['203.371,00'],
  ['294.735,00']],
 [['21/03/2022'],
  ['179.276,00'],
  ['99.888,00'],
  ['70.697,00'],
  ['191.805,00']],
 [['22/03/2022'],
  ['186.885,00'],
  ['189.703,00'],
  ['228.171,00'],
  ['253.564,00']],
 [['23/03/2022'],
  ['69.486,00'],
  ['70.894,00'],
  ['194.222,00'],
  ['239.589,00']],
 [['24/03/2022'],
  ['234.376,00'],
  ['84.804,00'],
  ['110.456,00'],
  ['294.481,00']],
 [['25/03/2022'],
  ['68.958,00'],
  ['118.588,00'],
  ['100.740,00'],
  ['173.960,00']],
 [['28/03/2022'],
  ['34.629,00'],
  ['55.605,00'],
  ['157.879,00'],
  ['228.602,00']],
 [['29/03/2022'],
  ['244.947,00'],
  ['94.357,00'],
  ['106.144,00'],
  ['164.973,00']],
 [['30/03/2022'],
  ['94.310,00'],
  ['102.608,00'],
  ['143.775,00'],
  ['171.683,00']],
 [['31/03/2022'],
  ['33.491,00'],
  ['163.421,00'],
  ['33.901,00'],
  ['239.513,00']],
 [['01/04/2022'],
  ['169.693,00'],
  ['121.672,00'],
  ['214.457,00'],
  ['233.995,00']],
 [['02/04/2022'],
  ['145.960,00'],
  ['218.920,00'],
  ['149.545,00'],
  ['237.609,00']],
 [['03/04/2022'],
  ['212.845,00'],
  ['54.979,00'],
  ['241.022,00'],
  ['288.005,00']],
 [['04/04/2022'],
  ['199.917,00'],
  ['64.463,00'],
  ['77.781,00'],
  ['224.188,00']],
 [['05/04/2022'],
  ['101.599,00'],
  ['129.713,00'],
  ['108.666,00'],
  ['287.151,00']],
 [['06/04/2022'],
  ['114.935,00'],
  ['239.422,00'],
  ['153.130,00'],
  ['275.859,00']],
 [['07/04/2022'],
  ['131.540,00'],
  ['120.544,00'],
  ['42.262,00'],
  ['209.340,00']],
 [['08/04/2022'],
  ['171.607,00'],
  ['37.950,00'],
  ['144.140,00'],
  ['275.412,00']],
 [['09/04/2022'],
  ['56.281,00'],
  ['148.200,00'],
  ['208.860,00'],
  ['296.703,00']],
 [['10/04/2022'],
  ['193.413,00'],
  ['159.224,00'],
  ['193.624,00'],
  ['233.641,00']],
 [['11/04/2022'],
  ['105.921,00'],
  ['246.146,00'],
  ['213.383,00'],
  ['205.882,00']],
 [['12/04/2022'],
  ['219.970,00'],
  ['236.778,00'],
  ['206.945,00'],
  ['294.628,00']],
 [['13/04/2022'], ['49.367,00'], ['87.456,00'], ['53.839,00'], ['213.994,00']],
 [['14/04/2022'],
  ['146.356,00'],
  ['118.979,00'],
  ['197.209,00'],
  ['268.423,00']],
 [['15/04/2022'],
  ['173.566,00'],
  ['52.134,00'],
  ['244.001,00'],
  ['246.680,00']],
 [['16/04/2022'],
  ['233.387,00'],
  ['177.407,00'],
  ['156.735,00'],
  ['171.849,00']],
 [['17/04/2022'],
  ['138.413,00'],
  ['228.138,00'],
  ['183.968,00'],
  ['160.630,00']],
 [['18/04/2022'],
  ['191.884,00'],
  ['179.110,00'],
  ['43.469,00'],
  ['177.005,00']],
 [['19/04/2022'],
  ['52.744,00'],
  ['143.495,00'],
  ['105.430,00'],
  ['167.401,00']],
 [['20/04/2022'],
  ['152.620,00'],
  ['224.768,00'],
  ['184.991,00'],
  ['187.549,00']],
 [['21/04/2022'],
  ['115.819,00'],
  ['154.843,00'],
  ['132.991,00'],
  ['262.413,00']],
 [['22/04/2022'],
  ['75.770,00'],
  ['156.506,00'],
  ['71.490,00'],
  ['213.018,00']],
 [['23/04/2022'],
  ['37.272,00'],
  ['243.939,00'],
  ['50.375,00'],
  ['227.831,00']],
 [['24/04/2022'],
  ['36.968,00'],
  ['180.149,00'],
  ['93.241,00'],
  ['290.173,00']],
 [['25/04/2022'],
  ['206.157,00'],
  ['189.742,00'],
  ['182.760,00'],
  ['237.722,00']],
 [['26/04/2022'],
  ['34.534,00'],
  ['211.437,00'],
  ['173.741,00'],
  ['266.804,00']],
 [['27/04/2022'],
  ['248.860,00'],
  ['232.169,00'],
  ['186.747,00'],
  ['238.012,00']],
 [['28/04/2022'],
  ['98.369,00'],
  ['95.995,00'],
  ['153.508,00'],
  ['178.957,00']],
 [['29/04/2022'],
  ['70.878,00'],
  ['219.037,00'],
  ['105.379,00'],
  ['273.626,00']],
 [['30/04/2022'],
  ['217.498,00'],
  ['147.519,00'],
  ['70.035,00'],
  ['289.890,00']],
 [['02/05/2022'],
  ['159.582,90'],
  ['79.591,63'],
  ['23.545,36'],
  ['175.371,80']],
 [['03/05/2022'], ['128.908,81'], ['3.685,37'], ['185.660,69'], ['86.886,74']],
 [['04/05/2022'],
  ['100.941,53'],
  ['204.963,17'],
  ['80.744,69'],
  ['89.988,73']],
 [['05/05/2022'], ['85.586,80'], ['13.287,49'], ['66.597,34'], ['28.133,21']],
 [['06/05/2022'],
  ['99.207,48'],
  ['246.596,23'],
  ['68.552,61'],
  ['135.694,58']],
 [['09/05/2022'],
  ['10.850,55'],
  ['191.073,78'],
  ['124.364,21'],
  ['40.991,28']],
 [['10/05/2022'],
  ['182.700,76'],
  ['230.549,22'],
  ['220.512,68'],
  ['181.700,57']],
 [['11/05/2022'],
  ['193.952,58'],
  ['152.422,14'],
  ['216.643,38'],
  ['31.549,68']],
 [['12/05/2022'],
  ['66.159,78'],
  ['134.676,04'],
  ['42.662,29'],
  ['158.350,20']],
 [['13/05/2022'], ['32.544,32'], ['19.719,12'], ['32.071,32'], ['209.568,25']],
 [['16/05/2022'], ['27.922,55'], ['174.007,49'], ['54.459,76'], ['41.643,78']],
 [['17/05/2022'],
  ['158.461,16'],
  ['60.830,19'],
  ['232.780,63'],
  ['216.759,63']],
 [['18/05/2022'],
  ['201.047,65'],
  ['149.677,89'],
  ['72.405,67'],
  ['18.192,49']],
 [['19/05/2022'],
  ['146.535,13'],
  ['29.156,78'],
  ['124.238,72'],
  ['151.149,80']],
 [['20/05/2022'], ['166.416,00'], ['17.768,98'], ['65.069,80'], ['64.303,08']],
 [['23/05/2022'],
  ['33.351,08'],
  ['135.159,87'],
  ['82.440,34'],
  ['220.544,20']],
 [['24/05/2022'],
  ['72.695,53'],
  ['139.849,32'],
  ['77.336,85'],
  ['179.012,82']],
 [['25/05/2022'],
  ['108.148,77'],
  ['241.752,40'],
  ['202.936,21'],
  ['245.871,49']],
 [['26/05/2022'],
  ['169.145,26'],
  ['172.553,27'],
  ['100.646,85'],
  ['37.930,38']],
 [['27/05/2022'],
  ['99.347,72'],
  ['181.336,39'],
  ['26.347,37'],
  ['103.583,64']],
 [['30/05/2022'],
  ['105.459,10'],
  ['213.646,76'],
  ['103.598,12'],
  ['75.374,88']],
 [['01/06/2022'], ['37.335,02'], ['58.424,09'], ['161.961,95'], ['80.406,60']],
 [['02/06/2022'],
  ['196.134,84'],
  ['75.653,24'],
  ['10.849,19'],
  ['191.138,66']],
 [['03/06/2022'],
  ['13.745,00'],
  ['197.607,92'],
  ['235.917,44'],
  ['144.076,51']],
 [['06/06/2022'], ['42.832,15'], ['12.412,94'], ['59.281,52'], ['118.400,73']],
 [['07/06/2022'],
  ['192.663,78'],
  ['242.536,41'],
  ['91.278,42'],
  ['243.126,80']],
 [['08/06/2022'],
  ['109.306,12'],
  ['130.151,30'],
  ['229.210,17'],
  ['140.222,80']],
 [['09/06/2022'],
  ['47.354,41'],
  ['40.264,35'],
  ['118.078,63'],
  ['187.976,83']],
 [['10/06/2022'],
  ['239.181,60'],
  ['125.503,08'],
  ['79.288,35'],
  ['114.638,46']],
 [['13/06/2022'], ['175.068,23'], ['39.342,97'], ['61.367,54'], ['98.117,39']],
 [['14/06/2022'], ['52.934,92'], ['83.622,84'], ['43.638,21'], ['46.613,86']],
 [['15/06/2022'],
  ['138.689,93'],
  ['196.858,83'],
  ['142.160,38'],
  ['77.108,29']],
 [['16/06/2022'],
  ['175.830,24'],
  ['194.124,01'],
  ['18.800,32'],
  ['75.970,87']],
 [['17/06/2022'],
  ['35.983,09'],
  ['79.160,18'],
  ['143.689,00'],
  ['108.809,60']],
 [['20/06/2022'],
  ['197.914,57'],
  ['136.737,87'],
  ['162.693,92'],
  ['151.282,58']],
 [['21/06/2022'],
  ['49.099,46'],
  ['125.796,94'],
  ['15.757,19'],
  ['113.124,18']],
 [['22/06/2022'],
  ['83.116,77'],
  ['136.678,92'],
  ['201.556,72'],
  ['64.456,44']],
 [['23/06/2022'],
  ['88.501,14'],
  ['134.582,06'],
  ['199.607,97'],
  ['29.758,22']],
 [['24/06/2022'],
  ['228.358,55'],
  ['131.815,42'],
  ['154.905,43'],
  ['69.940,69']],
 [['27/06/2022'],
  ['10.247,34'],
  ['230.274,62'],
  ['239.639,69'],
  ['240.286,42']],
 [['28/06/2022'],
  ['189.785,11'],
  ['130.972,34'],
  ['212.288,71'],
  ['85.653,49']],
 [['29/06/2022'], ['3.363,90'], ['13.905,73'], ['990,13'], ['216.631,39']],
 [['01/07/2022'],
  ['10.414,13'],
  ['202.197,36'],
  ['111.793,11'],
  ['60.765,97']],
 [['04/07/2022'],
  ['183.488,16'],
  ['25.882,44'],
  ['129.323,28'],
  ['94.133,09']],
 [['05/07/2022'],
  ['59.962,25'],
  ['55.857,03'],
  ['159.182,15'],
  ['198.979,47']],
 [['06/07/2022'], ['43.329,22'], ['153.305,36'], ['96.798,13'], ['40.818,40']],
 [['07/07/2022'],
  ['216.319,57'],
  ['129.009,94'],
  ['154.762,66'],
  ['200.808,16']],
 [['08/07/2022'],
  ['55.576,16'],
  ['206.859,63'],
  ['92.830,32'],
  ['191.575,30']],
 [['11/07/2022'],
  ['19.725,66'],
  ['145.862,89'],
  ['121.042,89'],
  ['158.336,98']],
 [['12/07/2022'], ['238.985,98'], ['93.988,32'], ['1.946,80'], ['60.322,09']],
 [['13/07/2022'],
  ['41.972,56'],
  ['222.990,16'],
  ['105.566,95'],
  ['108.577,04']],
 [['14/07/2022'],
  ['48.070,45'],
  ['128.261,03'],
  ['18.022,50'],
  ['111.056,76']],
 [['15/07/2022'],
  ['120.265,07'],
  ['123.133,83'],
  ['33.276,59'],
  ['249.648,38']],
 [['18/07/2022'],
  ['155.776,05'],
  ['42.686,05'],
  ['115.978,91'],
  ['145.643,43']],
 [['19/07/2022'],
  ['123.355,92'],
  ['25.008,46'],
  ['220.412,90'],
  ['218.232,79']],
 [['20/07/2022'],
  ['233.001,90'],
  ['138.028,40'],
  ['28.698,01'],
  ['245.778,96']],
 [['21/07/2022'],
  ['163.796,38'],
  ['30.029,62'],
  ['153.547,26'],
  ['107.329,27']],
 [['22/07/2022'], ['222.274,48'], ['11.186,04'], ['74.210,41'], ['70.708,91']],
 [['25/07/2022'], ['89.860,99'], ['219.095,62'], ['452,12'], ['199.756,49']],
 [['26/07/2022'],
  ['205.521,17'],
  ['19.069,78'],
  ['114.505,48'],
  ['229.418,75']],
 [['27/07/2022'],
  ['71.231,33'],
  ['225.905,93'],
  ['145.282,88'],
  ['109.323,20']],
 [['28/07/2022'], ['92.460,10'], ['18.163,52'], ['15.270,01'], ['247.682,87']],
 [['29/07/2022'],
  ['109.733,02'],
  ['101.824,58'],
  ['10.127,60'],
  ['241.588,55']],
 [['01/08/2022'], ['228.071,97'], ['350,41'], ['152.461,96'], ['184.876,37']],
 [['02/08/2022'],
  ['102.897,54'],
  ['220.177,54'],
  ['63.422,51'],
  ['128.020,77']],
 [['03/08/2022'],
  ['68.561,29'],
  ['110.162,69'],
  ['230.080,28'],
  ['34.530,55']],
 [['04/08/2022'],
  ['219.155,67'],
  ['150.604,89'],
  ['5.006,46'],
  ['157.896,28']],
 [['05/08/2022'], ['65.713,73'], ['191.710,84'], ['98.305,71'], ['7.764,92']],
 [['08/08/2022'],
  ['74.137,55'],
  ['198.844,35'],
  ['159.703,23'],
  ['200.255,87']],
 [['09/08/2022'],
  ['143.929,96'],
  ['248.828,32'],
  ['140.360,14'],
  ['31.021,87']],
 [['10/08/2022'],
  ['225.228,09'],
  ['161.240,83'],
  ['106.265,45'],
  ['58.343,44']],
 [['11/08/2022'],
  ['219.960,17'],
  ['149.239,97'],
  ['144.514,70'],
  ['52.698,45']],
 [['12/08/2022'],
  ['160.373,24'],
  ['200.608,54'],
  ['38.520,50'],
  ['186.606,28']],
 [['15/08/2022'],
  ['44.616,28'],
  ['89.250,23'],
  ['221.340,06'],
  ['207.891,98']],
 [['16/08/2022'],
  ['103.558,12'],
  ['59.162,95'],
  ['209.079,97'],
  ['246.194,78']],
 [['17/08/2022'],
  ['202.220,32'],
  ['28.053,94'],
  ['211.354,14'],
  ['117.217,23']],
 [['18/08/2022'],
  ['228.178,86'],
  ['68.809,71'],
  ['212.994,39'],
  ['85.385,11']],
 [['19/08/2022'],
  ['235.362,08'],
  ['104.208,94'],
  ['246.522,76'],
  ['211.350,91']],
 [['22/08/2022'],
  ['112.588,87'],
  ['237.435,18'],
  ['136.247,74'],
  ['242.665,79']],
 [['23/08/2022'],
  ['223.011,31'],
  ['160.407,00'],
  ['108.482,88'],
  ['125.469,05']],
 [['24/08/2022'], ['91.784,70'], ['197.977,31'], ['21.119,95'], ['31.597,01']],
 [['25/08/2022'],
  ['118.208,56'],
  ['225.505,78'],
  ['63.986,55'],
  ['101.473,91']],
 [['26/08/2022'],
  ['190.003,07'],
  ['160.308,88'],
  ['214.791,35'],
  ['114.227,95']],
 [['29/08/2022'], ['188.651,08'], ['41.093,37'], ['42.935,88'], ['12.852,11']],
 [['01/09/2022'],
  ['202.949,38'],
  ['153.249,97'],
  ['231.903,61'],
  ['164.307,39']],
 [['02/09/2022'], ['60.178,74'], ['28.806,57'], ['93.118,21'], ['28.145,13']],
 [['05/09/2022'],
  ['20.640,37'],
  ['11.966,30'],
  ['173.690,87'],
  ['180.033,79']],
 [['06/09/2022'], ['126.406,76'], ['74.599,01'], ['119.890,18'], ['1.152,69']],
 [['07/09/2022'], ['37.988,44'], ['200.911,60'], ['182.159,08'], ['1.120,03']],
 [['08/09/2022'],
  ['231.432,44'],
  ['113.274,84'],
  ['165.557,02'],
  ['214.793,14']],
 [['09/09/2022'], ['77.674,57'], ['179.506,49'], ['165.468,46'], ['5.326,04']],
 [['12/09/2022'], ['213.462,70'], ['7.694,83'], ['202.218,27'], ['74.473,36']],
 [['13/09/2022'],
  ['34.139,82'],
  ['188.443,37'],
  ['242.496,50'],
  ['186.791,62']],
 [['14/09/2022'],
  ['90.714,24'],
  ['170.378,34'],
  ['200.428,97'],
  ['82.105,24']],
 [['15/09/2022'],
  ['151.564,93'],
  ['165.903,89'],
  ['14.435,03'],
  ['37.018,81']],
 [['16/09/2022'], ['90.737,44'], ['51.935,74'], ['189.689,21'], ['91.049,89']],
 [['19/09/2022'],
  ['155.282,36'],
  ['1.307,15'],
  ['216.398,47'],
  ['153.159,03']],
 [['20/09/2022'],
  ['57.558,09'],
  ['121.289,11'],
  ['139.321,35'],
  ['15.257,86']],
 [['21/09/2022'],
  ['206.959,39'],
  ['221.582,68'],
  ['6.247,29'],
  ['202.812,19']],
 [['22/09/2022'],
  ['207.212,67'],
  ['119.833,58'],
  ['213.253,05'],
  ['184.884,51']],
 [['23/09/2022'],
  ['10.790,19'],
  ['15.671,80'],
  ['148.747,56'],
  ['162.461,89']],
 [['26/09/2022'], ['75.972,31'], ['88.779,74'], ['56.028,60'], ['61.396,93']],
 [['27/09/2022'],
  ['226.785,80'],
  ['233.821,72'],
  ['125.684,90'],
  ['192.818,08']],
 [['28/09/2022'],
  ['30.451,16'],
  ['98.019,86'],
  ['224.932,12'],
  ['165.206,42']],
 [['29/09/2022'],
  ['103.287,46'],
  ['211.603,62'],
  ['247.089,27'],
  ['170.898,06']],
 [['03/10/2022'],
  ['210.166,56'],
  ['213.747,98'],
  ['176.818,95'],
  ['66.949,63']],
 [['04/10/2022'],
  ['213.546,63'],
  ['3.539,59'],
  ['192.052,92'],
  ['237.290,73']],
 [['05/10/2022'],
  ['70.232,32'],
  ['179.166,40'],
  ['131.986,87'],
  ['158.346,48']],
 [['06/10/2022'], ['71.910,03'], ['174.454,65'], ['22.168,05'], ['44.884,01']],
 [['07/10/2022'], ['81.396,87'], ['5.803,20'], ['153.871,77'], ['236.139,20']],
 [['10/10/2022'],
  ['152.699,43'],
  ['118.091,05'],
  ['195.246,94'],
  ['5.830,76']],
 [['11/10/2022'], ['133.842,38'], ['16.631,31'], ['14.063,19'], ['24.329,65']],
 [['12/10/2022'],
  ['187.534,10'],
  ['36.358,25'],
  ['108.453,94'],
  ['22.932,25']],
 [['13/10/2022'],
  ['31.377,94'],
  ['217.772,09'],
  ['195.345,23'],
  ['229.112,50']],
 [['14/10/2022'], ['34.306,09'], ['83.959,67'], ['14.897,96'], ['170.191,63']],
 [['17/10/2022'],
  ['150.569,97'],
  ['66.670,69'],
  ['12.185,70'],
  ['215.282,92']],
 [['18/10/2022'], ['221.795,85'], ['94.098,81'], ['43.542,40'], ['23.943,96']],
 [['19/10/2022'], ['36.726,03'], ['55.827,46'], ['45.791,35'], ['129.395,51']],
 [['20/10/2022'], ['163.740,57'], ['9.415,41'], ['163.558,26'], ['76.905,66']],
 [['21/10/2022'], ['197.138,04'], ['13.284,30'], ['70.929,64'], ['81.301,08']],
 [['24/10/2022'],
  ['210.052,15'],
  ['41.033,95'],
  ['212.577,72'],
  ['102.697,65']],
 [['25/10/2022'], ['25.538,43'], ['17.428,77'], ['103.043,39'], ['34.606,34']],
 [['26/10/2022'], ['27.900,87'], ['77.512,83'], ['28.789,07'], ['209.496,00']],
 [['27/10/2022'],
  ['179.210,83'],
  ['45.770,68'],
  ['159.212,44'],
  ['103.098,26']],
 [['28/10/2022'],
  ['23.064,57'],
  ['125.623,14'],
  ['58.918,92'],
  ['224.110,22']],
 [['31/10/2022'], ['135.431,82'], ['189.113,41'], ['4.193,70'], ['12.341,47']],
 [['01/11/2022'],
  ['218.594,06'],
  ['189.190,86'],
  ['221.654,75'],
  ['33.156,04']],
 [['02/11/2022'], ['28.961,36'], ['77.393,97'], ['84.313,44'], ['202.023,21']],
 [['03/11/2022'], ['4.760,61'], ['145.843,07'], ['66.201,68'], ['164.230,22']],
 [['04/11/2022'],
  ['185.271,12'],
  ['198.968,23'],
  ['39.361,56'],
  ['30.112,93']],
 [['07/11/2022'],
  ['19.770,95'],
  ['107.074,73'],
  ['59.666,26'],
  ['176.383,37']],
 [['08/11/2022'],
  ['49.377,86'],
  ['182.733,00'],
  ['146.163,73'],
  ['243.814,90']],
 [['09/11/2022'], ['4.700,08'], ['35.518,14'], ['181.977,32'], ['9.704,70']],
 [['10/11/2022'],

In [7]:
len(lista_tabelas)

262

In [120]:
len(lista_tabelas)

280

In [12]:
print(lista_tabelas[10])
print(lista_tabelas[150])
print(lista_tabelas[250])

[['17/01/2022'], ['104.077,00'], ['41.466,00'], ['48.790,00'], ['153.831,00']]
[['21/07/2022'], ['163.796,38'], ['30.029,62'], ['153.547,26'], ['107.329,27']]
[['14/12/2022'], ['63.492,60'], ['7.904,44'], ['160.751,70'], ['144.760,45']]

In [14]:
import pandas as pd

tabela = pd.DataFrame(lista_tabelas, columns = ['Dia avaliado','Filial 1', 'Filial 2', 'Filial 3', 'Matriz'])
tabela

     Dia avaliado      Filial 1      Filial 2      Filial 3        Matriz
0    [03/01/2022]  [196.150,00]  [152.743,00]  [106.701,00]  [273.274,00]
1    [04/01/2022]  [162.775,00]   [63.936,00]  [188.655,00]  [204.490,00]
2    [05/01/2022]  [133.267,00]  [241.641,00]  [112.572,00]  [181.911,00]
3    [06/01/2022]   [98.888,00]  [129.118,00]  [190.375,00]  [217.586,00]
4    [07/01/2022]  [183.817,00]  [139.893,00]  [180.754,00]  [262.625,00]
..            ...           ...           ...           ...           ...
257  [23/12/2022]  [160.909,39]   [57.844,24]   [20.570,75]   [45.619,90]
258  [26/12/2022]  [123.098,32]  [155.317,06]  [223.452,08]   [70.681,18]
259  [27/12/2022]  [200.386,92]    [6.282,19]  [246.244,44]  [233.680,04]
260  [28/12/2022]  [153.915,58]   [96.380,77]  [126.732,24]  [182.343,89]
261  [29/12/2022]  [136.515,20]  [120.578,30]  [159.005,59]  [125.081,30]

[262 rows x 5 columns]

In [54]:
#Importando o pandas
import pandas as pd

#Lista com os nomes das colunas para o dataset
colunas_novas = ['Dia avaliado','Filial 1', 'Filial 2', 'Filial 3', 'Matriz']

#Transformando a lista em dataframe do pandas 
tabela = pd.DataFrame(lista_tabelas, columns = colunas_novas).applymap(lambda x : x[0])
tabela

    Dia avaliado    Filial 1    Filial 2    Filial 3      Matriz
0     03/01/2022  196.150,00  152.743,00  106.701,00  273.274,00
1     04/01/2022  162.775,00   63.936,00  188.655,00  204.490,00
2     05/01/2022  133.267,00  241.641,00  112.572,00  181.911,00
3     06/01/2022   98.888,00  129.118,00  190.375,00  217.586,00
4     07/01/2022  183.817,00  139.893,00  180.754,00  262.625,00
..           ...         ...         ...         ...         ...
257   23/12/2022  160.909,39   57.844,24   20.570,75   45.619,90
258   26/12/2022  123.098,32  155.317,06  223.452,08   70.681,18
259   27/12/2022  200.386,92    6.282,19  246.244,44  233.680,04
260   28/12/2022  153.915,58   96.380,77  126.732,24  182.343,89
261   29/12/2022  136.515,20  120.578,30  159.005,59  125.081,30

[262 rows x 5 columns]

In [22]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dia avaliado  262 non-null    object
 1   Filial 1      262 non-null    object
 2   Filial 2      262 non-null    object
 3   Filial 3      262 non-null    object
 4   Matriz        262 non-null    object
dtypes: object(5)
memory usage: 10.4+ KB

In [55]:
tabela['Filial 1'].replace('.','', inplace = True, regex=True)
tabela

    Dia avaliado    Filial 1    Filial 2    Filial 3      Matriz
0     03/01/2022              152.743,00  106.701,00  273.274,00
1     04/01/2022               63.936,00  188.655,00  204.490,00
2     05/01/2022              241.641,00  112.572,00  181.911,00
3     06/01/2022              129.118,00  190.375,00  217.586,00
4     07/01/2022              139.893,00  180.754,00  262.625,00
..           ...         ...         ...         ...         ...
257   23/12/2022               57.844,24   20.570,75   45.619,90
258   26/12/2022              155.317,06  223.452,08   70.681,18
259   27/12/2022                6.282,19  246.244,44  233.680,04
260   28/12/2022               96.380,77  126.732,24  182.343,89
261   29/12/2022              120.578,30  159.005,59  125.081,30

[262 rows x 5 columns]

In [53]:
tabela

    Dia avaliado Filial 1    Filial 2    Filial 3      Matriz
0     03/01/2022           152.743,00  106.701,00  273.274,00
1     04/01/2022            63.936,00  188.655,00  204.490,00
2     05/01/2022           241.641,00  112.572,00  181.911,00
3     06/01/2022           129.118,00  190.375,00  217.586,00
4     07/01/2022           139.893,00  180.754,00  262.625,00
..           ...      ...         ...         ...         ...
257   23/12/2022            57.844,24   20.570,75   45.619,90
258   26/12/2022           155.317,06  223.452,08   70.681,18
259   27/12/2022             6.282,19  246.244,44  233.680,04
260   28/12/2022            96.380,77  126.732,24  182.343,89
261   29/12/2022           120.578,30  159.005,59  125.081,30

[262 rows x 5 columns]

In [25]:
tabela['Dia avaliado'] = pd.to_datetime( tabela['Dia avaliado'])
tabela['Filial 1'] = pd.to_numeric( tabela['Filial 1'])
tabela

ValueError: Unable to parse string "196.150,00" at position 0

In [77]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dia avaliado  154 non-null    datetime64[ns]
 1   Filial 1      154 non-null    object
 2   Filial 2      154 non-null    object
 3   Filial 3      154 non-null    object
 4   Matriz        154 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 6.1+ KB

In [24]:
import locale

locale.setlocale(locale.LC_ALL, 'nl_NL')

tabela

    Dia avaliado    Filial 1    Filial 2    Filial 3      Matriz
0     2022-03-01  196.150,00  152.743,00  106.701,00  273.274,00
1     2022-04-01  162.775,00   63.936,00  188.655,00  204.490,00
2     2022-05-01  133.267,00  241.641,00  112.572,00  181.911,00
3     2022-06-01   98.888,00  129.118,00  190.375,00  217.586,00
4     2022-07-01  183.817,00  139.893,00  180.754,00  262.625,00
..           ...         ...         ...         ...         ...
257   2022-12-23  160.909,39   57.844,24   20.570,75   45.619,90
258   2022-12-26  123.098,32  155.317,06  223.452,08   70.681,18
259   2022-12-27  200.386,92    6.282,19  246.244,44  233.680,04
260   2022-12-28  153.915,58   96.380,77  126.732,24  182.343,89
261   2022-12-29  136.515,20  120.578,30  159.005,59  125.081,30

[262 rows x 5 columns]